.inside{
    box-shadow: -10px 7px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: -10px 7px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: -10px 7px 5px 0px rgba(0,0,0,0.75);

border-radius: 10px 10px 10px 10px;
-webkit-border-radius: 10px 10px 10px 10px;
-moz-border-radius: 10px 10px 10px 10px;

    display: flex;
    flex-direction: column;
    width: 25%;
    height: 45%;
    align-items: center;
    margin: auto;
    align-items: center;
    background-color: white;
    border:solid salmon ;
}

.outside{
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

.btn {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

    box-shadow: -10px 7px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: -10px 7px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -10px 7px 5px 0px rgba(0,0,0,0.75);
    
    border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;

    margin-top: 10px;
    
  }
  .btn:hover{
    cursor: pointer;
    
  }